#navbg {
    background-color: #AAA574;
}

.navheight {
    height: 50px;
}

#bgimg {
    background-image: url(../images/astro.jpeg);
}

#navlogo {
    background-image: url(../images/logodespertar.jpeg);
}

#imglogo {
    border-radius: 50%;
}

.listsocial {
    padding: 20px;
}

.carousel-inner{
    height: 400px;
   }
