#navbg {
    /*background-color: #663399;*/
    background-color: white;
}

#nav-font-color {
    /*color: white;*/
}

.navheight {
    height: 50px;
}

#bgimg {
    background-image: url(../images/astro.jpeg);
}

#navlogo {
    background-image: url(../images/logodespertar.jpeg);
}

#imglogo {
    border-radius: 50%;
}

.listsocial {
    padding: 20px;
}

.carousel-inner{
    height: 400px;
   }

.home__products_cards {
    height: 170px;
}

footer {
    background-color: #b1a5c9;
    position: bottom;
}

.navbar-nav > li > .dropdown-menu { background-color: #993399; }

.main-intro-bg {
    background: linear-gradient(to bottom, #996699, white);
}

.section-cards-bg {
    background: linear-gradient(to bottom, white, white);
}

.fit-image{
    width: 20px;
    object-fit: cover;
    height: 10px; /* only if you want fixed height */
}

