#navbg {
    background-color: #AAA574;
}

#bgimg {
    height: 50px;
    background-image: url(../images/astro.jpeg);
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);
}

#navlogo {
    background-image: url(../images/logodespertar.jpeg);
}

#imglogo {
    border-radius: 50%;
}

.listsocial {
    padding: 20px;
}

.carousel-inner{
    height: 400px;
   }